<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test task test Suite" parallel="true">
    <test name="Search tests">
        <classes>
            <class name="com.arrival.search.SearchTest"/>
        </classes>
    </test>
    <test name="Authorization tests">
        <classes>
            <class name="com.arrival.authorization.AuthorizationTest"/>
        </classes>
    </test>
</suite>